@use './partials.scss/variables' as *;
@import '~bootstrap/scss/bootstrap';

$fa-font-path: "../fonts/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";



//Header
header {
    .container{
        height: 90px;
    }
    .container>div{
        height: 80px;
        width: 80px;
    }
    ul a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        height: 90px;
        display: inline-block;
        line-height: 90px;
        border-bottom: 2px solid transparent;

        &:hover{
        border-bottom: 2px solid #0d6efd;
        color: #0d6efd;
        }
    }
}

//BottomMain
.rem-3{
    width: 3rem;
    cursor: pointer;
}

// Footer

footer {
    background-image: url('/images/footer-bg.jpg');
    height: 20vh;
    overflow: hidden;
.w25{
    width: 25%;
}
img {
    object-position: center -50px;
    width: 100%;
}
footer {
    background-image: url('../assets/img/footer-bg.jpg');
    height: 20vh;
    overflow: hidden;
}
.w25{
    width: 25%;
}
img {
    object-position: center -50px;
    width: 100%;
}
}
